<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Currency Convert</title>
</head>

	<div class="header">
		<div><a href="#"></a>SEND MONEY</div>
		<div><a href="#"></a>BUSINESS & API</div>
		<div><a href="#"></a>TOOLS</div>
		<div><a href="#"></a>RESOURCES</div>
		<div><a href="#"></a>GET THE APP</div>
		<div><a href="#"></a>Log in</div>
	</div>
	
<body>

	<h1>Currency Convert</h1>
	<div>
		<input type="number">
		<select>
		</select>
	</div>

	<span> = </span>

	<div>
		<input type="number">
		<select>
		</select>
	</div>
	
<script>

</script>
</body>
</html>
